<h1 style="text-align: left; padding-left: 210px;">Streamy API v0.0.1</h1>
<p style="text-align: left; padding-left: 30px;">Streamy can be controlled via a TCP/IP direct socket on port 37000. Streamy allows for multiple simultaneous connections. All commands must be follow by carriage return line feed.</p>
<table style="float: left; margin-left: 60px;" border="5" width="650">
<tbody>
<tr>
<td><strong>Command</strong></td>
<td><strong>Description</strong></td>
<td><strong>Examples</strong></td>
</tr>
<tr>
<td>&nbsp;status</td>
<td>&nbsp;Get current status</td>
<td>&nbsp;status</td>
</tr>
<tr>
<td>&nbsp;set_rx_stream</td>
<td>&nbsp;Sets RX stream number</td>
<td>&nbsp;set_rx_stream 61</td>
</tr>
<tr>
<td>&nbsp;set_tx_stream</td>
<td>&nbsp;Sets TX stream number</td>
<td>&nbsp;set_tx_stream 11</td>
</tr>
<tr>
<td>&nbsp;set_rx_interleave</td>
<td>&nbsp;Sets RX to interleave 1=on 0=off</td>
<td>&nbsp;set_rx_interleave 1</td>
</tr>
<tr>
<td>&nbsp;set_tx_interleave</td>
<td>&nbsp;Sets TX to interleave 1=on 0=off</td>
<td>&nbsp;set_tx_interleave 0</td>
</tr>
<tr>
<td>&nbsp;tx_mic_start</td>
<td>&nbsp;Starts streaming the Mic</td>
<td>&nbsp;tx_mic_start</td>
</tr>
<tr>
<td>&nbsp;tx_mic_stop</td>
<td>&nbsp;Stops streaming the Mic</td>
<td>&nbsp;tx_mic_stop</td>
</tr>
<tr>
<td>&nbsp;rx_play_start</td>
<td>&nbsp;Starts playing the stream</td>
<td>&nbsp;rx_play_start</td>
</tr>
<tr>
<td>&nbsp;rx_play_stop</td>
<td>&nbsp;Stops playing the stream</td>
<td>&nbsp;rx_play_stop</td>
</tr>
</tbody>
</table>
<p style="text-align: left; padding-left: 30px;"><br />All commands will be responded to with a JSON encoded status response. Here is an example response:</p>
<p style="padding-left: 60px;">{"rx_multicast_address": "239.255.165.61:50003",<br />&nbsp;"rx_multicast_stream_number": "61",<br />&nbsp;"rx_packets_dropped": "0",<br />&nbsp;"rx_packets_received": "548",<br />&nbsp;"rx_play_enable": false,<br />&nbsp;"rx_record_enable": false,<br />&nbsp;"rx_status": "Receiving stream",<br />&nbsp;"rx_stream_id": "61",<br />&nbsp;"tx_mic_enable": true,<br />&nbsp;"tx_multicast_address": "239.255.165.11:50003",<br />&nbsp;"tx_multicast_stream_number": "11",<br />&nbsp;"tx_packets_sent": "2765",<br />&nbsp;"tx_stream_id": "11"}</p>
<p style="padding-left: 30px;">If the command is invalid, the response with be {"error": "&lt;error message&gt;"}</p>